*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.section {
    background: #262829;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #fff; /*这里设置的是活动导航的颜色*/
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border: 1px solid #fff;/*这里设置的是非活动导航的颜色*/
}

/*第一屏*/
.main h1{
    text-align: center;
    color: #00fff9;
    font-size: 110px;
    padding-top: 20px;
}
.main h3{
    text-align: center;
    letter-spacing: 10px;
    color: #00fff9;
    font-size: 45px;
    padding-top: 20px;
}
.main p{
    color: #ff3c78;
    text-align: center;
    font-size: 110px;
    padding-top: 30px;
    font-weight: bold;
}
.main p span{
    font-family: "Microsoft YaHei";
}
.main p strong{
    font-size: 50px;
}
.main table{
    margin: 30px auto 0;
    color: #00fff9;
    font-size: 30px;
    width: 650px;
}
.main table span{
    font-family: "Microsoft YaHei";
    font-size: 50px;
    font-weight: bold;
}
.main table tr td b{
    font-size: 50px;
}

/*第二屏*/
.main2,.main3,.main4,.main5,.main6,.main7,.main8,.main9{
    width: 1300px;
    margin: 0 auto;
}
.main2 h1,.main3 h1,.main4 h1,.main5 h1,.main6 h1,.main7 h1,.main8 h1,.main9 h1{
    font-size: 40px;
    padding-bottom: 30px;
    color: #00fff9;
}
#main2{
    width: 800px;
    height: 400px;
    display: inline-block;
}
.main2_r{
    width: 500px;
    float: right;
    position: relative;
}
#main3{
    width: 500px;
    height: 350px;
    display: inline-block;
}
.text1{
    width: 800px;
    color: #00fff9;
    float: left;
}
.text1 p{
    padding-top: 35px;
    font-size: 20px;
}
.text1 ul li{
    padding-top: 20px;
    font-size: 16px;
    color: #49bdca;
    width: 84px;
    height: auto;
    display: inline-block;
}
.text1 ul li:nth-of-type(2),.text1 ul li:nth-of-type(6){
    width: 150px;
    font-size: 26px;
    color: #00fff9;
}
.text2{
    float: right;
}
.text2 b{
    color: #00fff9;
    font-weight: normal;
    position: absolute;
}
.text2 b:nth-of-type(1){
    top: 110px;
    right: 100px;
}
.text2 b:nth-of-type(2){
    top: 200px;
    right: 85px;
}
.text2 b:nth-of-type(3){
    top: 275px;
    right: 150px;
}
.text2 b:nth-of-type(4){
    top: 170px;
    left: 85px;
}
.text3{
    width: 500px;
    color: #00fff9;
}
.text3 p{
    font-size: 30px;
    text-align: center;
}
.text3 ul{
    width: 320px;
    margin: 0 auto;
    margin-top: 30px;
}
.text3 li{
    float: left;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.text3 li:nth-of-type(1){
    width: 64%;
    background: #00fff9;
    color: #1e5f6f;
}
.text3 li:nth-of-type(2){
    width: 36%;
    background: #1e5f6f;
    color: #ffffff;
}
.text3 span{
    margin-top: 30px;
    display: inline-block;
    width: 190px;
    font-size: 20px;
    text-align: right;
}
/*第三屏*/
.main3_1{
    float: left;
    width: 430px;
    padding-right: 70px;
}
.main3_1 h3{
    font-size: 25px;
    font-weight: normal;
    color: #00fff9;
    margin-bottom: 50px;
}
.main3_1 p{
    font-size: 20px;
    color: #49bdca;
    line-height: 1.5em;
    padding-left: 12px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #49bdca;
}
#main4{
    width: 350px;
    height: 250px;
    border-bottom: 2px solid #49bdca;
}
#main5{
    width: 350px;
    height:400px;
    border-bottom: 2px solid #49bdca;
}
/*第四屏*/
.main4 h3,.main7 h3{
    width: 420px;
    color: #00fff9;
    font-size: 25px;
    font-weight: normal;
    display: inline-block;
}
.main4 h3 span,.main7 h3 span{
    font-size: 30px;
    font-weight: bold;
}
.main4_1{
    width: 100%;
}
.main4_1 div{
    margin: 15px 50px;
    width: 320px;
    height: 240px;
    float: left;
}
/*第五屏*/
.main5_1{
    width: 40%;
    float: left;
}
.main5_1 h2{
    font-weight: normal;
    font-size: 40px;
    color: #00fff9;
}
.main5_1 h2 span{
    line-height: 2em;
    display: inline-block;
    width: 250px;
    font-size: 70px;
    font-weight: bold;
}
.main5_1 h3{
    font-weight: normal;
    font-size: 30px;
    color: #49bdca;
}
.main5_1 h3 span{
    line-height: 2em;
    display: inline-block;
    width: 250px;
    font-size: 60px;
    font-weight: bold;
}
#main12{
    width: 60%;
    height: 550px;
    float: right;
}
.main6 p{
    color: #00fff9;
    font-size: 25px;
}
.main6_1{
    width: 50%;
    height: 550px;
    float: left;
}
#main13{
    width: 100%;
    height: 500px;
}
.main6_2{
    width: 50%;
    height: 550px;
    float: left;
    color: #00fff9;
    font-size: 25px;
    text-align: center;
}
#main14{
    width: 100%;
    height: 400px;
}
.main7_1{
    width: 100%;
}
.main7_1 div{
    margin-top: 30px;
    width: 33.3%;
    height: 400px;
    float: left;
}
#main18{
    width: 100%;
    height: 500px;
}
.main9_1{
    width: 100%;
    height: 500px;
}
#main19,#main20{
    width: 50%;
    height: 500px;
    float: left;
    text-align: center;
}
#main19 h2{
    padding-top: 120px;
    color: #00fff9;
    font-size: 120px;
}
#main19 span{
    color: #00fff9;
    font-size: 40px;
}
#main20 img{
    width: 300px;
    height: 300px;
    display: block;
    margin: 60px auto 10px;
    padding: 15px;
    border: 2px solid #00fff9;
}
#main20 p{
    color: #00fff9;
    font-size: 30px;
}